/* PHASE 5: Cats */
.content-header {
  height: 200px;
  overflow: hidden;
  position: relative;
  line-height: 1;
}

.content-header img {
  position: relative;
  z-index: 0;
}

.img-text {
  z-index: 1;
  position: absolute;
  left: 240px;
  bottom: 20px;
  color: white;
  font-size: 36px;
  font-weight: lighter;
  text-shadow: 1px 1px black;
}

.header-button {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
  background-color: white;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
}
